@model Customers.WebUI.Models.ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    @Html.EditorForModel()
    
    <hr />
	<p><button type="submit" id="user-login-button">提交</button></p>
}
